# Sample gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so that
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `gitconfig.symlink` and you'll be able to
# install this to the correct location by running the project's main install
# script.
[color]
  diff = auto
  status = auto
  branch = auto

[merge]
  tool = p4merge

[mergetool]
  keepBackup = false

[alias]
  st = status -s
  unstage = reset HEAD --
  co = checkout
  ci = commit
  br = branch
  last = log -1 HEAD

[core]
  excludesfile = ~/.gitignore
