[submodule "vim/fugitive.symlink"]
	path = vim/fugitive.symlink
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/node.symlink"]
	path = vim/node.symlink
	url = https://github.com/moll/vim-node
[submodule "vim/javascript-syntax.symlink"]
	path = vim/javascript-syntax.symlink
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "vim/terraform.symlink"]
	path = vim/terraform.symlink
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/commentary.symlink"]
	path = vim/commentary.symlink
	url = https://github.com/tpope/vim-commentary
[submodule "vim/editorconfig.symlink"]
	path = vim/editorconfig.symlink
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/puppet-syntax-vim.symlink"]
	path = vim/puppet-syntax-vim.symlink
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "vim/omnisharp.symlink"]
	path = vim/omnisharp.symlink
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "vim/ale.symlink"]
	path = vim/ale.symlink
	url = https://github.com/dense-analysis/ale
[submodule "vim/sharpenup.symlink"]
	path = vim/sharpenup.symlink
	url = https://github.com/nickspoons/vim-sharpenup
[submodule "vim/lightline.symlink"]
	path = vim/lightline.symlink
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/ansible.symlink"]
	path = vim/ansible.symlink
	url = https://github.com/pearofducks/ansible-vim
